In [ ]:
cd drive/MyDrive/Live_workshops_treinamentos/2022_05_ML_precos_carros

In [2]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import os

# COLETA E ENTENDIMENTO  DOS DADOS

In [3]:
## CRIANDO DATAFRAME QUE IRÁ ARMAZENAR TODOS OS DADOS
df_metadados = pd.DataFrame()

for arquivo in os.listdir('dados_olx/'):
  print(arquivo)
  df_metadados = pd.concat([df_metadados,pd.read_csv('dados_olx/'+arquivo)])

## RESET NO INDEX
df_metadados.reset_index(drop=True,inplace=True)

ac_metadados.csv
al_metadados.csv
ap_metadados.csv
am_metadados.csv
rj_metadados.csv
rn_metadados.csv
ba_metadados.csv
ce_metadados.csv
df_metadados.csv
es_metadados.csv
go_metadados.csv
ma_metadados.csv
mt_metadados.csv
ms_metadados.csv
mg_metadados.csv
pa_metadados.csv
pb_metadados.csv
pr_metadados.csv
pe_metadados.csv
pi_metadados.csv
rs_metadados.csv
ro_metadados.csv
rr_metadados.csv
sc_metadados.csv
sp_metadados.csv
se_metadados.csv
to_metadados.csv

In [4]:
## INFORMAÇÕES RESUMIDA DA TABELA DE DADOS
df_metadados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122890 entries, 0 to 122889
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     122890 non-null  int64
 1   TITULO                 122890 non-null  object
 2   INFOS                  122890 non-null  object
 3   VALOR                  117147 non-null  object
 4   LOCAL                  122890 non-null  object
 5   DATA_ANUNCIO           122890 non-null  object
 6   LINK                   122890 non-null  object
 7   DATA_COLETA_METADADOS  122890 non-null  object
 8   DATA_COLETA_COMPLETA   0 non-null       float64
 9   UF                     89371 non-null   object
 10  Ano                    104947 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 10.3+ MB

In [5]:
## VISUALIZANDO APENAS AS PRIMEIRAS LINHAS 
df_metadados.head()

,ID,TITULO,INFOS,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,DATA_COLETA_COMPLETA,UF,Ano
0,941490102,Nissan Versa SV,46.000 km | Câmbio: Manual | Flex |,R$ 56.000,"Rio Branco, Bosque - DDD 68","Hoje, 15:19",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,NaN,2017.0
1,1028087752,Vende-se Fiat uno motor fire,158 km | Câmbio: Manual | Gasolina |,R$ 12.500,Sena Madureira - DDD 68,"Hoje, 15:18",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,NaN,2003.0
2,1028087412,Fiesta Titanium,86.790 km | Câmbio: Automático | Gasolina ...,R$ 38.000,"Rio Branco, Morada do Sol - DDD 68","Hoje, 15:17",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,NaN,2013.0
3,1028078970,Troco em carro,0 km |,NaN,"Rio Branco, Vila da Amizade - DDD 68","Hoje, 15:02",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,NaN,2008.0
4,1028074386,Chevrolet S10 LTZ Diesel,89.000 km | Câmbio: Automático | Diesel |,R$ 131.990,Rio Branco - DDD 68,"Hoje, 14:56",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,NaN,2013.0

In [6]:
##ELIMINANDO DADOS DUPLICADOS
df_metadados_limpos = df_metadados.drop_duplicates(subset=['ID'])
df_metadados_limpos.reset_index(inplace=True,drop=True)
print(df_metadados_limpos.shape)

(101000, 11)

In [7]:
print("==== INDICE DE NULOS NOS ATRIBUTOS ====")
dados = df_metadados_limpos.copy()
(dados.isnull().sum()/len(dados)*100).sort_values(ascending=False)

==== INDICE DE NULOS NOS ATRIBUTOS ====

DATA_COLETA_COMPLETA     100.000000
Ano                       15.450495
UF                        12.785149
VALOR                      3.378218
ID                         0.000000
TITULO                     0.000000
INFOS                      0.000000
LOCAL                      0.000000
DATA_ANUNCIO               0.000000
LINK                       0.000000
DATA_COLETA_METADADOS      0.000000
dtype: float64

In [8]:
## ELIMINANDO VALORES EM BRANCO DA COLUNA VALOR
df_metadados_limpos.dropna(subset=['VALOR'],inplace=True)

In [ ]:
## DELETANDO COLUNA
df_metadados_limpos.drop(columns=['DATA_COLETA_COMPLETA'],inplace=True)

df_metadados_limpos.reset_index(inplace=True,drop=True)

In [9]:
print("==== INDICE DE NULOS NOS ATRIBUTOS ====")
dados = df_metadados_limpos.copy()
(dados.isnull().sum()/len(dados)*100).sort_values(ascending=False)

==== INDICE DE NULOS NOS ATRIBUTOS ====

Ano                      15.546993
UF                       11.980981
ID                        0.000000
TITULO                    0.000000
INFOS                     0.000000
VALOR                     0.000000
LOCAL                     0.000000
DATA_ANUNCIO              0.000000
LINK                      0.000000
DATA_COLETA_METADADOS     0.000000
dtype: float64

In [10]:
df_metadados_limpos.head()

,ID,TITULO,INFOS,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,UF,Ano
0,941490102,Nissan Versa SV,46.000 km | Câmbio: Manual | Flex |,R$ 56.000,"Rio Branco, Bosque - DDD 68","Hoje, 15:19",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2017.0
1,1028087752,Vende-se Fiat uno motor fire,158 km | Câmbio: Manual | Gasolina |,R$ 12.500,Sena Madureira - DDD 68,"Hoje, 15:18",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2003.0
2,1028087412,Fiesta Titanium,86.790 km | Câmbio: Automático | Gasolina ...,R$ 38.000,"Rio Branco, Morada do Sol - DDD 68","Hoje, 15:17",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2013.0
3,1028074386,Chevrolet S10 LTZ Diesel,89.000 km | Câmbio: Automático | Diesel |,R$ 131.990,Rio Branco - DDD 68,"Hoje, 14:56",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2013.0
4,1028074010,Vende-se Fiat Stilo,170.000 km | Câmbio: Manual | Flex |,R$ 16.000,"Rio Branco, Portal da Amazônia - DDD 68","Hoje, 14:55",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2007.0

# PREPARAÇÃO/TRATAMENTO NOS DADOS
- Com base no que foi analisado inicialmente nos dados, vamos realizar os seguintes procedimentos para tratar os dados
  - Converter todos os atributos para minúsculo  
  - INFOS: dividir em **km, cambio e combustivel** em novas colunas. Retirar ponto do KM e converter para **float**
  - VALOR: limpar R$, retirar ponto e converter para float
  - LOCAL: excluir coluna (já temos a UF)
  - DATA_ANUNCIO: excluir coluna
  - LINK: excluir coluna
  - DATA_COLETA: excluir coluna.
  - UF: corrigir linhas NULAS utilizando a coluna LINK para recuperar a UF

In [11]:
## CONVERTENDO TODAS OS ATRIBUTOS TEXTUAIS PARA MINUSCULO
df_metadados_limpos = df_metadados_limpos.applymap(lambda s:s.lower() if type(s) == str else s)
df_metadados_limpos.head(5)

,ID,TITULO,INFOS,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,UF,Ano
0,941490102,nissan versa sv,46.000 km | câmbio: manual | flex |,r$ 56.000,"rio branco, bosque - ddd 68","hoje, 15:19",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2017.0
1,1028087752,vende-se fiat uno motor fire,158 km | câmbio: manual | gasolina |,r$ 12.500,sena madureira - ddd 68,"hoje, 15:18",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2003.0
2,1028087412,fiesta titanium,86.790 km | câmbio: automático | gasolina ...,r$ 38.000,"rio branco, morada do sol - ddd 68","hoje, 15:17",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2013.0
3,1028074386,chevrolet s10 ltz diesel,89.000 km | câmbio: automático | diesel |,r$ 131.990,rio branco - ddd 68,"hoje, 14:56",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2013.0
4,1028074010,vende-se fiat stilo,170.000 km | câmbio: manual | flex |,r$ 16.000,"rio branco, portal da amazônia - ddd 68","hoje, 14:55",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2007.0

### **TRATANDO VALORES EM INFOS**

In [12]:
#VISUALIZANDO VALORE EM INFOS
df_metadados_limpos.INFOS[:5]

0           46.000 km  |  câmbio: manual  |  flex  |
1          158 km  |  câmbio: manual  |  gasolina  |
2    86.790 km  |  câmbio: automático  |  gasolina ...
3     89.000 km  |  câmbio: automático  |  diesel  |
4          170.000 km  |  câmbio: manual  |  flex  |
Name: INFOS, dtype: object

In [13]:
#VISUALIZANDO VALORE EM INFOS
df_metadados_limpos.INFOS[0]

'46.000 km\xa0\xa0|\xa0\xa0câmbio: manual\xa0\xa0|\xa0\xa0flex\xa0\xa0|\xa0\xa0'

In [14]:
# LIMPANDO CARACTERES km, cambio, espaços em branco, : e .
infos = df_metadados_limpos.INFOS[:].str.replace("km|câmbio|:|\xa0|\.|\s+","",regex=True)
print(infos)

0                46000|manual|flex|
1              158|manual|gasolina|
2        86790|automático|gasolina|
3          89000|automático|diesel|
4               170000|manual|flex|
                    ...
97583          0|automático|diesel|
97584        98000|automático|flex|
97585                0|manual|flex|
97586       127000|automático|flex|
97587     183000|automático|diesel|
Name: INFOS, Length: 97588, dtype: object

In [15]:
## DIVINDO DADOS DE INFOS
infos.str.split("|")

0                [46000, manual, flex, ]
1              [158, manual, gasolina, ]
2        [86790, automático, gasolina, ]
3          [89000, automático, diesel, ]
4               [170000, manual, flex, ]
                      ...
97583          [0, automático, diesel, ]
97584        [98000, automático, flex, ]
97585                [0, manual, flex, ]
97586       [127000, automático, flex, ]
97587     [183000, automático, diesel, ]
Name: INFOS, Length: 97588, dtype: object

In [17]:
# LIMPANDO CARACTERE | QUE ESTÁ SOBRANDO NO FINAL
infos = infos.str.replace("\|$","",regex=True)
print(infos)

0                46000|manual|flex
1              158|manual|gasolina
2        86790|automático|gasolina
3          89000|automático|diesel
4               170000|manual|flex
                   ...
97583          0|automático|diesel
97584        98000|automático|flex
97585                0|manual|flex
97586       127000|automático|flex
97587     183000|automático|diesel
Name: INFOS, Length: 97588, dtype: object

In [18]:
## DIVINDO DADOS DE INFOS
infos = infos.str.split("|")
print(infos)

0                [46000, manual, flex]
1              [158, manual, gasolina]
2        [86790, automático, gasolina]
3          [89000, automático, diesel]
4               [170000, manual, flex]
                     ...
97583          [0, automático, diesel]
97584        [98000, automático, flex]
97585                [0, manual, flex]
97586       [127000, automático, flex]
97587     [183000, automático, diesel]
Name: INFOS, Length: 97588, dtype: object

In [20]:
## CRIANDO LISTA COM AS INFOS
lista_infos = [i for i in infos]
lista_infos[:10]

[['46000', 'manual', 'flex'],
 ['158', 'manual', 'gasolina'],
 ['86790', 'automático', 'gasolina'],
 ['89000', 'automático', 'diesel'],
 ['170000', 'manual', 'flex'],
 ['50000', 'manual', 'flex'],
 ['52990', 'manual', 'flex'],
 ['85000', 'automático', 'flex'],
 ['149000', 'manual', 'flex'],
 ['63000', 'manual', 'gasolina']]

In [21]:
## CRIANDO DATAFRAME COM INFOS VEÍCULOS
infos_veiculo = pd.DataFrame(lista_infos, columns = ['KM','CAMBIO','COMBUSTIVEL'])
print(infos_veiculo.shape)
infos_veiculo.head()

(97588, 3)

       KM      CAMBIO COMBUSTIVEL
0   46000      manual        flex
1     158      manual    gasolina
2   86790  automático    gasolina
3   89000  automático      diesel
4  170000      manual        flex

In [22]:
## CONCATENANDO INFOS COM A BASE DE DADOS
df_metadados_limpos_2 = pd.concat([df_metadados_limpos,infos_veiculo],axis=1)
df_metadados_limpos_2.head()

,ID,TITULO,INFOS,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,UF,Ano,KM,CAMBIO,COMBUSTIVEL
0,941490102,nissan versa sv,46.000 km | câmbio: manual | flex |,r$ 56.000,"rio branco, bosque - ddd 68","hoje, 15:19",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2017.0,46000,manual,flex
1,1028087752,vende-se fiat uno motor fire,158 km | câmbio: manual | gasolina |,r$ 12.500,sena madureira - ddd 68,"hoje, 15:18",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2003.0,158,manual,gasolina
2,1028087412,fiesta titanium,86.790 km | câmbio: automático | gasolina ...,r$ 38.000,"rio branco, morada do sol - ddd 68","hoje, 15:17",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2013.0,86790,automático,gasolina
3,1028074386,chevrolet s10 ltz diesel,89.000 km | câmbio: automático | diesel |,r$ 131.990,rio branco - ddd 68,"hoje, 14:56",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2013.0,89000,automático,diesel
4,1028074010,vende-se fiat stilo,170.000 km | câmbio: manual | flex |,r$ 16.000,"rio branco, portal da amazônia - ddd 68","hoje, 14:55",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2007.0,170000,manual,flex

In [23]:
## SALVANDO DADOS
df_metadados_limpos_2.to_csv("df_metadados_limpos_2.csv",index=False)

### **TRATANDO VALORES EM VALOR**

In [24]:
## RETIRANDO CARACTERES R$, ponto(.) e espaço em branco EM VALOR DOS ANÚNCIOS
df_metadados_limpos_2.loc[:,'VALOR_LIMPO'] = df_metadados_limpos_2.VALOR.str.replace("r\$|\.|\s+","",regex=True)
df_metadados_limpos_2.head()

,ID,TITULO,INFOS,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,UF,Ano,KM,CAMBIO,COMBUSTIVEL,VALOR_LIMPO
0,941490102,nissan versa sv,46.000 km | câmbio: manual | flex |,r$ 56.000,"rio branco, bosque - ddd 68","hoje, 15:19",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2017.0,46000,manual,flex,56000
1,1028087752,vende-se fiat uno motor fire,158 km | câmbio: manual | gasolina |,r$ 12.500,sena madureira - ddd 68,"hoje, 15:18",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2003.0,158,manual,gasolina,12500
2,1028087412,fiesta titanium,86.790 km | câmbio: automático | gasolina ...,r$ 38.000,"rio branco, morada do sol - ddd 68","hoje, 15:17",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2013.0,86790,automático,gasolina,38000
3,1028074386,chevrolet s10 ltz diesel,89.000 km | câmbio: automático | diesel |,r$ 131.990,rio branco - ddd 68,"hoje, 14:56",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2013.0,89000,automático,diesel,131990
4,1028074010,vende-se fiat stilo,170.000 km | câmbio: manual | flex |,r$ 16.000,"rio branco, portal da amazônia - ddd 68","hoje, 14:55",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,NaN,2007.0,170000,manual,flex,16000

### **TRATANDO VALORES NULOS EM UF**

In [25]:
##VERIFICANDO ATRIBUTO UF
(df_metadados_limpos_2.UF.nunique(),
df_metadados_limpos_2.UF.unique())

(21, array([nan, 'ba', 'ce', 'df', 'es', 'go', 'ma', 'mt', 'ms', 'mg', 'pa',
        'pb', 'pr', 'pe', 'pi', 'rs', 'ro', 'rr', 'sc', 'sp', 'se', 'to'],
       dtype=object))

In [26]:
##VERIFICANDO LINK
df_metadados_limpos_2.LINK[:6]

0    https://ac.olx.com.br/acre/autos-e-pecas/carro...
1    https://ac.olx.com.br/acre/autos-e-pecas/carro...
2    https://ac.olx.com.br/acre/autos-e-pecas/carro...
3    https://ac.olx.com.br/acre/autos-e-pecas/carro...
4    https://ac.olx.com.br/acre/autos-e-pecas/carro...
5    https://ac.olx.com.br/acre/autos-e-pecas/carro...
Name: LINK, dtype: object

In [27]:
##PEGANDO UF DA COLUNA LINK
df_metadados_limpos_2.LINK[:5].apply(lambda x: x[8:10])

0    ac
1    ac
2    ac
3    ac
4    ac
Name: LINK, dtype: object

In [28]:
## INSERINDO VALOR NA COLUNA UF APENAS COM VALOR NONE
ids_uf_none = df_metadados_limpos_2.query("UF.isnull()",engine='python')['ID']
print(ids_uf_none)

0         941490102
1        1028087752
2        1028087412
3        1028074386
4        1028074010
            ...
11687     983172712
11688    1027623458
11689    1027622428
11690    1027621921
11691    1027621009
Name: ID, Length: 11692, dtype: int64

In [30]:
## SUBSTITUINDO NONE EM UF 
df_metadados_limpos_2.loc[df_metadados_limpos_2.ID.isin(ids_uf_none),'UF'] = df_metadados_limpos_2.query(f"ID in {ids_uf_none.tolist()}").LINK.apply(lambda x: x[8:10])

In [31]:
print("==== INDICE DE NULOS NOS ATRIBUTOS ====")
dados = df_metadados_limpos_2.copy()
(dados.isnull().sum()/len(dados)*100).sort_values(ascending=False)

==== INDICE DE NULOS NOS ATRIBUTOS ====

Ano                      15.546993
COMBUSTIVEL               4.080420
CAMBIO                    1.937738
ID                        0.000000
TITULO                    0.000000
INFOS                     0.000000
VALOR                     0.000000
LOCAL                     0.000000
DATA_ANUNCIO              0.000000
LINK                      0.000000
DATA_COLETA_METADADOS     0.000000
UF                        0.000000
KM                        0.000000
VALOR_LIMPO               0.000000
dtype: float64

### VALIDANDO E AJUSTANDO MUDANÇAS
- ETAPA PARA VALIDAR ALGUMAS TRANSFORMAÇÕES FEITAS

In [32]:
## VALORES ÚNICOS EM CAMBIO 
df_metadados_limpos_2.CAMBIO.unique()

array(['manual', 'automático', None, 'flex', 'diesel', 'semi-automático',
       'gásnatural', 'gasolina', 'híbrido', 'álcool'], dtype=object)

In [33]:
## VERIFICANDO COMBINAÇÃO DO CAMBIO ERRADOS COM OS VALORES DE COMBUSTIVEL
valores = ['flex', 'diesel', 'gásnatural', 'gasolina', 'híbrido', 'álcool']

df_valida_cambio = df_metadados_limpos_2.query(f"CAMBIO.isin({valores})",engine='python')[['KM','CAMBIO','COMBUSTIVEL']]
print(len(df_valida_cambio))
df_valida_cambio

779

           KM      CAMBIO COMBUSTIVEL
187    120000        flex        None
289     74000        flex        None
298    100000      diesel        None
393     97000        flex        None
527    150000  gásnatural        None
...       ...         ...         ...
96914   82000        flex        None
96951     120    gasolina        None
97169   92310        flex        None
97278       0    gasolina        None
97452     333    gasolina        None

[779 rows x 3 columns]

In [34]:
## VALORES ÚNICOS EM COMBUSTIVEL 
df_metadados_limpos_2.COMBUSTIVEL.unique()

array(['flex', 'gasolina', 'diesel', None, 'álcool', 'gásnatural',
       'híbrido', 'elétrico'], dtype=object)

**CONCLUSÃO**
- Com base no que foi análisado acima, podemos pegar todos esses valores na coluna **CAMBIO** verificados e inserir na coluna **COMBUSTIVEL**, que é o valor correto

In [35]:
## CRIAR UMA CÓPIA DO DATAFRAME
df_metadados_limpos_3 = df_metadados_limpos_2.copy()

In [36]:
## PEGANDO OS IDS DAS LINHAS INCORRETAS
ids_errados = df_metadados_limpos_3.query(f"CAMBIO.isin({valores})",engine='python')['ID']
ids_errados

187      1027158142
289      1024806980
298      1026580335
393      1025988596
527      1025246381
            ...
96914    1009665742
96951    1009314774
97169    1006770941
97278    1005552518
97452    1003256808
Name: ID, Length: 779, dtype: int64

In [37]:
## INSERINDO VALORES NA COLUNA COMBUSTIVEL
df_metadados_limpos_3.loc[df_metadados_limpos_3.ID.isin(ids_errados),'COMBUSTIVEL'] = df_metadados_limpos_3.query(f"ID in {ids_errados.tolist()}")['CAMBIO']

           CAMBIO COMBUSTIVEL
187          flex        flex
289          flex        flex
298        diesel      diesel
393          flex        flex
527    gásnatural  gásnatural
...           ...         ...
96914        flex        flex
96951    gasolina    gasolina
97169        flex        flex
97278    gasolina    gasolina
97452    gasolina    gasolina

[779 rows x 2 columns]

In [38]:
# VERIFICANDO ALTERAÇÕES
df_metadados_limpos_3.query(f"ID in {ids_errados.tolist()}")[['CAMBIO','COMBUSTIVEL']]

           CAMBIO COMBUSTIVEL
187          flex        flex
289          flex        flex
298        diesel      diesel
393          flex        flex
527    gásnatural  gásnatural
...           ...         ...
96914        flex        flex
96951    gasolina    gasolina
97169        flex        flex
97278    gasolina    gasolina
97452    gasolina    gasolina

[779 rows x 2 columns]

In [39]:
## APAGANDO VALORES ERRADOS DA COLUNA CAMBIO
df_metadados_limpos_3.loc[df_metadados_limpos_3.ID.isin(ids_errados),'CAMBIO'] = None

In [40]:
# VERIFICANDO ALTERAÇÕES
df_metadados_limpos_3.query(f"ID in {ids_errados.tolist()}")[['CAMBIO','COMBUSTIVEL']]

      CAMBIO COMBUSTIVEL
187     None        flex
289     None        flex
298     None      diesel
393     None        flex
527     None  gásnatural
...      ...         ...
96914   None        flex
96951   None    gasolina
97169   None        flex
97278   None    gasolina
97452   None    gasolina

[779 rows x 2 columns]

In [41]:
df_metadados_limpos_3.shape

(97588, 14)

In [42]:
df_metadados_limpos_3.head()

,ID,TITULO,INFOS,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,UF,Ano,KM,CAMBIO,COMBUSTIVEL,VALOR_LIMPO
0,941490102,nissan versa sv,46.000 km | câmbio: manual | flex |,r$ 56.000,"rio branco, bosque - ddd 68","hoje, 15:19",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,ac,2017.0,46000,manual,flex,56000
1,1028087752,vende-se fiat uno motor fire,158 km | câmbio: manual | gasolina |,r$ 12.500,sena madureira - ddd 68,"hoje, 15:18",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,ac,2003.0,158,manual,gasolina,12500
2,1028087412,fiesta titanium,86.790 km | câmbio: automático | gasolina ...,r$ 38.000,"rio branco, morada do sol - ddd 68","hoje, 15:17",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,ac,2013.0,86790,automático,gasolina,38000
3,1028074386,chevrolet s10 ltz diesel,89.000 km | câmbio: automático | diesel |,r$ 131.990,rio branco - ddd 68,"hoje, 14:56",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,ac,2013.0,89000,automático,diesel,131990
4,1028074010,vende-se fiat stilo,170.000 km | câmbio: manual | flex |,r$ 16.000,"rio branco, portal da amazônia - ddd 68","hoje, 14:55",https://ac.olx.com.br/acre/autos-e-pecas/carro...,2022-05-03,ac,2007.0,170000,manual,flex,16000

In [43]:
df_metadados_limpos_3.columns

Index(['ID', 'TITULO', 'INFOS', 'VALOR', 'LOCAL', 'DATA_ANUNCIO', 'LINK',
       'DATA_COLETA_METADADOS', 'UF', 'Ano', 'KM', 'CAMBIO', 'COMBUSTIVEL',
       'VALOR_LIMPO'],
      dtype='object')

In [44]:
print("==== INDICE DE NULOS NOS ATRIBUTOS ====")
dados = df_metadados_limpos_3.copy()
(dados.isnull().sum()/len(dados)*100).sort_values(ascending=False)

==== INDICE DE NULOS NOS ATRIBUTOS ====

Ano                      15.546993
COMBUSTIVEL               3.282166
CAMBIO                    2.735992
ID                        0.000000
TITULO                    0.000000
INFOS                     0.000000
VALOR                     0.000000
LOCAL                     0.000000
DATA_ANUNCIO              0.000000
LINK                      0.000000
DATA_COLETA_METADADOS     0.000000
UF                        0.000000
KM                        0.000000
VALOR_LIMPO               0.000000
dtype: float64

In [45]:
df_metadados_limpos_3.to_csv("df_metadados_limpos_3.csv",index=False)

### **TRATANDO VALORES EM ANO**

In [46]:
## VERIFICANDO VALORES ÚNICOS
df_metadados_limpos_3.Ano.unique()

array([2017.0, 2003.0, 2013.0, 2007.0, 2018.0, 2021.0, 2015.0, 2011.0,
       2012.0, 2020.0, 2016.0, 2010.0, nan, 2014.0, 2000.0, 2022.0,
       2006.0, 2019.0, 2008.0, 2005.0, 1989.0, 2009.0, 2023.0, 1999.0,
       2002.0, 1994.0, 1996.0, 1990.0, 1995.0, 1997.0, 1998.0, 1980.0,
       1993.0, 2004.0, 1988.0, 2001.0, 1991.0, 1982.0, 1970.0, 1992.0,
       1981.0, 1975.0, 1986.0, 1985.0, 1984.0, 1955.0, '2012', '2007',
       '2020', '2019', '2003', '2021', '2011', '2017', '2022', '2016',
       '2004', '2013', '2018', '2015', '2014', '2006', '2009', '1997',
       '2008', '2010', '2005', '2001', '2000', '1999', '1995', '1986',
       '1994', '2002', '1998', '1965', '1980', '1987', '1984', '1993',
       '2023', '1960', '1991', '1975', '1989', '1982', '1992',
       '1950 ou anterior', '1970', '1990', '1996', '1983', '1988', '1985',
       1965.0, 1983.0, 1987.0, 1960.0, '1971', 1979.0, '1981', '1955',
       1974.0, 1978.0, '1973', '1976', '1978', '1974'], dtype=object)

In [47]:
## CORRIGINDO VALORES(retirando textos)
df_metadados_limpos_3.Ano = df_metadados_limpos_3.Ano.astype(str).str.replace(" ou anterior","")#.astype(float)

In [48]:
## VERIFICANDO VALORES ÚNICOS
df_metadados_limpos_3.Ano.unique()

array(['2017.0', '2003.0', '2013.0', '2007.0', '2018.0', '2021.0',
       '2015.0', '2011.0', '2012.0', '2020.0', '2016.0', '2010.0', 'nan',
       '2014.0', '2000.0', '2022.0', '2006.0', '2019.0', '2008.0',
       '2005.0', '1989.0', '2009.0', '2023.0', '1999.0', '2002.0',
       '1994.0', '1996.0', '1990.0', '1995.0', '1997.0', '1998.0',
       '1980.0', '1993.0', '2004.0', '1988.0', '2001.0', '1991.0',
       '1982.0', '1970.0', '1992.0', '1981.0', '1975.0', '1986.0',
       '1985.0', '1984.0', '1955.0', '2012', '2007', '2020', '2019',
       '2003', '2021', '2011', '2017', '2022', '2016', '2004', '2013',
       '2018', '2015', '2014', '2006', '2009', '1997', '2008', '2010',
       '2005', '2001', '2000', '1999', '1995', '1986', '1994', '2002',
       '1998', '1965', '1980', '1987', '1984', '1993', '2023', '1960',
       '1991', '1975', '1989', '1982', '1992', '1950', '1970', '1990',
       '1996', '1983', '1988', '1985', '1965.0', '1983.0', '1987.0',
       '1960.0', '1971', '1979.0', '1981', '1955', '1974.0', '1978.0',
       '1973', '1976', '1978', '1974'], dtype=object)

In [49]:
##VERIFICANDO TIPO DOS ATRIBUTOS(COLUNAS)
df_metadados_limpos_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97588 entries, 0 to 97587
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     97588 non-null  int64
 1   TITULO                 97588 non-null  object
 2   INFOS                  97588 non-null  object
 3   VALOR                  97588 non-null  object
 4   LOCAL                  97588 non-null  object
 5   DATA_ANUNCIO           97588 non-null  object
 6   LINK                   97588 non-null  object
 7   DATA_COLETA_METADADOS  97588 non-null  object
 8   UF                     97588 non-null  object
 9   Ano                    97588 non-null  object
 10  KM                     97588 non-null  object
 11  CAMBIO                 94918 non-null  object
 12  COMBUSTIVEL            94385 non-null  object
 13  VALOR_LIMPO            97588 non-null  object
dtypes: int64(1), object(13)
memory usage: 10.4+ MB

In [50]:
df_metadados_limpos_3[['KM','VALOR_LIMPO','Ano']] = df_metadados_limpos_3[['KM','VALOR_LIMPO','Ano']].apply(lambda x: x.astype(float))

In [51]:
df_metadados_limpos_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97588 entries, 0 to 97587
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     97588 non-null  int64
 1   TITULO                 97588 non-null  object
 2   INFOS                  97588 non-null  object
 3   VALOR                  97588 non-null  object
 4   LOCAL                  97588 non-null  object
 5   DATA_ANUNCIO           97588 non-null  object
 6   LINK                   97588 non-null  object
 7   DATA_COLETA_METADADOS  97588 non-null  object
 8   UF                     97588 non-null  object
 9   Ano                    82416 non-null  float64
 10  KM                     97588 non-null  float64
 11  CAMBIO                 94918 non-null  object
 12  COMBUSTIVEL            94385 non-null  object
 13  VALOR_LIMPO            97588 non-null  float64
dtypes: float64(3), int64(1), object(10)
memory usage: 10.4+ MB

In [52]:
print("==== INDICE DE NULOS NOS ATRIBUTOS ====")
dados = df_metadados_limpos_3.copy()
(dados.isnull().sum()/len(dados)*100).sort_values(ascending=False)

==== INDICE DE NULOS NOS ATRIBUTOS ====

Ano                      15.546993
COMBUSTIVEL               3.282166
CAMBIO                    2.735992
ID                        0.000000
TITULO                    0.000000
INFOS                     0.000000
VALOR                     0.000000
LOCAL                     0.000000
DATA_ANUNCIO              0.000000
LINK                      0.000000
DATA_COLETA_METADADOS     0.000000
UF                        0.000000
KM                        0.000000
VALOR_LIMPO               0.000000
dtype: float64

In [53]:
## APAGANDO LINHAS SEM VALORES
# este tipo de procedimento não deve ser realizado de primeira,
# mas por questão de didática será aplicado este procedimento.
df_metadados_limpos_3.dropna(inplace=True)
len(df_metadados_limpos_3)

79117

In [ ]:
df_metadados_limpos_3.columns

In [54]:
## SELECIONANDO APENAS AS COLUNAS DE INTERESSE
df_metadados_limpos_3[['ID', 'TITULO','UF', 'Ano', 'KM', 
                       'CAMBIO', 'COMBUSTIVEL','VALOR_LIMPO']].to_csv("df_metadados_limpos_3.csv",index=False)